<div class="container">
  <h1>Services</h1>
  <h2>Liste des services</h2>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Filtrer la liste</div>
    </div>

    <input type="text" class="form-control" [(ngModel)]="filtre" placeholder="Filtres ..." />
  </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>services</th>
      <th>prix</th>
      <th>temps</th>
      <th>entreprise</th>
      <th>action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let service of filtrer()">
      <td>
        <span><a [routerLink]="['/service', service.id]" routerLinkActive="active">{{ service.nomService }}</a></span>
      </td>

      <td>
        <span>{{ service.prix }}</span>
      </td>

      <td>
        <span>{{ service.temps }}</span>
      </td>

      <td>
        <span>{{ service.entreprise.nom_societe }}</span>
      </td>

      <td>
        <button (click)="editer(service.id)" class="btn btn-warning">Editer</button>
        <button (click)="supprimer(service.id)" class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row mb-2 col-auto">
    <button (click)="ajouter()" class="btn btn-success">AJOUTER</button>
  </div>
</div>

<hr />

<div class="container" *ngIf="formService">

  <h2>Ajouter / modifier un service</h2>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Nom du service</div>
    </div>

    <input type="text" class="form-control" [(ngModel)]="formService.nomService" placeholder="Nom du service" />
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Prix</div>
    </div>

    <input type="text" class="form-control" [(ngModel)]="formService.prix" placeholder="Prix du service" />
  </div>

  <div class="input-group mb-2">
  <div class="input-group-prepend">
    <div class="input-group-text">temps du service</div>
  </div>

  <input type="number" class="form-control" [(ngModel)]="formService.temps" placeholder="temps du service" />
</div>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">entreprises </div>
    </div>

    <input type="number" class="form-control" [(ngModel)]="formService.entreprise.nom_societe" placeholder="les entreprises" />
  </div>

  <div class="row mb-2 col-auto">
    <button (click)="sauvegarder()" class="btn btn-success" [disabled]="!formService.nomService || !formService.prix || !formService.temps || !formService.entreprise">
      <span *ngIf="!formService.id">AJOUTER</span>
      <span *ngIf="formService.id">MODIFIER</span>
    </button>
  </div>
</div>
