<!DOCTYPE html>


<html>
<head>

<title>Acceuil</title>
<meta name="acceuil" content="Page Acceuil">

<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
	integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	crossorigin="anonymous"></script>
</head>

<body>
	<section name=geolocalisation>
		<form id="form-adresse" class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" name="ad">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">GO</button>
		</form>

		<div id="infoposition"></div>
		<div id="map"></div>
		<!-- vous allez avoir besoin d'une div dans votre HTML avec une classe "map" -->
	</section>

	<section name=script>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByEdIlRK8B123Daha6RtqmA7UQ0hCCPVE&libraries=places"></script>
		<script src="JavaScriptP.js"></script>
	</section>

</body>
</html>