<!DOCTYPE html>

<html>
<head>

<title>Accueil</title>
<meta name="accueil" content="Page Accueil">

<meta charset="UTF-8" />
<meta name="viewport" content="width=devide-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>

<body>
	<ul class="nav justify-content-end">
		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" type="button"
				class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">Gérer compte client</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<a class="dropdown-item" href="client">Gestion identité</a>
				<a class="dropdown-item" href="adresse">Gestion adresse</a> 
			</div>
		</div>
		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" type="button"
				class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">Gérer compte entreprise</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<a class="dropdown-item" href="entreprise">Gestion identité</a>
				<a class="dropdown-item" href="#">Gestion adresse</a> 
				<a class="dropdown-item" href="#">Gestion services proposés</a>
				<a class="dropdown-item" href="#">Gestion employés</a>
			</div>
		</div>
	</ul>

	<div>
		<h1>
			Bienvenue <span th:text="${session.username}"></span>
		</h1>
		<br>
	</div>
	<br>

	<section name=geolocalisation>
		<form id="form-adresse" class="form-inline my-2 my-lg-0">
			Veuillez entrer ici votre adresse <input class="form-control mr-sm-2"
				type="search" name="ad">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">GO</button>
			<br> <br>
		</form>


		<div id="infoposition"></div>
		<div id="map"></div>
		<!-- vous allez avoir besoin d'une div dans votre HTML avec une classe "map" -->
	</section>

	<table id="tableau-adresse" class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Sélectionner Adresse Coiffeur</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table>

	<div method="POST">
		<div class="form-group row">
			<div class="col-sm-12">
				<button class="btn btn-sm btn-primary btn-block" type="submit">Valider
					votre choix</button>
			</div>
		</div>
	</div>



	<section name=scriptjs>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script type="text/javascript"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByEdIlRK8B123Daha6RtqmA7UQ0hCCPVE&libraries=places"></script>

		<script src="js/javascriptposition.js"></script>


		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"></script>

		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
			integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
			crossorigin="anonymous"></script>

	</section>

</body>
</html>