<!DOCTYPE html>

<html>
<head>

<title>Login</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/image.css">

<meta name="viewport" content="width=devide-width, initial-scale=1" />
</head>

<body>
	<div id="connexion" class="form-group row text-center">
		<div class="container">
			<form method="POST"
				class="form-signin col-sm-4 m-auto border border-primary rounded" style="background-color : white">
				<h1 class="form-signin-heading text-muted ">Connexion</h1>
				<div class="form-group row">
					<div class="col-sm-12">
						<input type="text" class="form-control text-center" placeholder="Adresse e-mail ou nom d'utilisateur" name="username" required> 
						<input type="password" class="form-control text-center" placeholder="Mot de Passe" name="password" required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<button class="btn btn-sm btn-primary btn-block" type="submit">Se connecter</button>
					</div>
				</div>
				<div>
					<h2 class="form-signin-heading text-muted ">Inscription</h2>
				</div>
				<nav>
					<a href="inscriptionclient.html">Inscription Client</a><br>
					<a href="inscriptionentreprise.html">Inscription Entreprise</a>
				</nav>
			</form>
		</div>
	</div>

</body>
</html>