<!DOCTYPE html>


<html>
<head>

<title>Gestion Entreprise</title>
<meta name="gestionentreprise" content="gestionentreprise">

<meta charset="UTF-8" />
<meta name="viewport" content="width=devide-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

</head>

<body>

<a class="btn btn-success" href="entreprise" role="button">Gestion identité</a>
<a class="btn btn-success" href="-----" role="button">Gestion adresse</a>
<a class="btn btn-success" href="-----" role="button">Gestion services proposés</a>
<a class="btn btn-success" href="-----" role="button">Gestion login</a>

</body>
</html>