<!DOCTYPE html>

<html>
<head>
<title>Inscription Entreprise</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<meta name="viewport" content="width=devide-width, initial-scale=1" />
</head>
<body>
	<div id="inscriptionentreprise" class="form-group row text-center">
		<div class="container">
			<form method="POST"
				class="form-signin col-sm-4 m-auto border border-primary rounded">
				<h1 class="form-signin-heading text-muted ">Inscription</h1>
				<div class="form-group row">
				<br><h2 class="form-signin-heading text-muted ">Veuillez renseigner les informations suivantes</h2><br>
					<div class="col-sm-12">
						Entreprise	<input type="text" class="form-control text-center" placeholder="Nom de l'entreprise" name="usernom" required> 
									<input type="text" class="form-control text-center" placeholder="Nom du gérant" name="userprenom" required><br>
						
						Services proposés	<input type="text" class="form-control text-center" placeholder="Nom du service" name="adresserue" required>
											<input type="text" class="form-control text-center" placeholder="Prix du service" name="adressecp" required>
											<input type="text" class="form-control text-center" placeholder="Temps estimé du service" name="adresseville" required><br>
											
						Employés 	<input type="text" class="form-control text-center" placeholder="Nom de l'employé" name="adresserue" required>
									<input type="text" class="form-control text-center" placeholder="Prénom de l'employé" name="adressecp" required>					
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<button class="btn btn-sm btn-primary btn-block" type="submit">Confirmer l'inscription</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
<footer>
		<div class="fixed-bottom">Copyright © e-shop.fr 2018</div>
</footer>

</body>
</html>