<!DOCTYPE html>

<html>
<head>
<title>Login</title>
<meta name="description" content="Enregistrez vous sur notre site" />
<meta charset="utf-8" />
<base href="/ReservationHtml/" />
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<meta name="viewport" content="width=devide-width, initial-scale=1" />
</head>
<body>
	<div id="Inscription" class="form-group row text-center">
		<div class="container">
			<form
				class="form-signin col-sm-4 m-auto border border-primary rounded">
				<h1 class="form-signin-heading text-muted ">Inscription</h1>
				<div class="form-group row">
					<div class="col-sm-12">
						<input type="text" class="form-control text-center"
							placeholder="Adresse e-mail ou nom d'utilisateur" required>
						<input type="password" class="form-control text-center"
							placeholder="Mot de Passe" required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<button class="btn btn-sm btn-primary btn-block" type="submit">S'enregistrer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	
	
	
		<footer id="ad"> « Copyright &copy; e-shop.fr » </footer>
	
	
	
	

	<section name=script>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByEdIlRK8B123Daha6RtqmA7UQ0hCCPVE&libraries=places"></script>
	</section>
</body>
</html>