<!DOCTYPE html>

<html>
<head>
<title>Modification du client</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<meta name="viewport" content="width=devide-width, initial-scale=1" />
</head>
<body>
	<div id="modifierclient" class="form-group row text-center">
		<div class="container">
			<form method="POST"
				class="form-signin col-sm-4 m-auto border border-primary rounded">
				<h1 class="form-signin-heading text-muted ">Modification des infos client</h1>
				<div class="form-group row">
				<br><h2 class="form-signin-heading text-muted ">Veuillez renseigner les informations suivantes</h2><br>
					<div class="col-sm-12">
						Client 	<input type="text" class="form-control text-center" placeholder="Nom" name="nom" required> 
								<input type="text" class="form-control text-center" placeholder="Prénom "name="prenom" required>
								<input type="text" class="form-control text-center" placeholder="Date de naissance "name="naissance" required><br>
														
						Login	<input type="text" class="form-control text-center" placeholder="Adresse e-mail ou nom d'utilisateur" name="username" required> 
								<input type="password" class="form-control text-center" placeholder="Mot de Passe" name="password" required>
								
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<button class="btn btn-sm btn-primary btn-block" type="submit">Confirmer les modifications</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
<footer>
		<div class="fixed-bottom">Copyright © e-shop.fr 2018</div>
</footer>

</body>
</html>