<div class="container">
  <h1>Entreprises</h1>
  <h2>Liste des entreprises</h2>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Filtrer la liste</div>
    </div>

    <input type="text" class="form-control" [(ngModel)]="filtre" placeholder="Filtres ..." />
  </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom de l'entreprise</th>
      <th>Id de l'adresse associée</th>
      <th>Nom du gérant</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let entreprise of filtrer()">
      <td>
        <span><a [routerLink]="['/entreprise', entreprise.id]" routerLinkActive="active">{{ entreprise.nom_societe }}</a></span>
      </td>

      <td>
        <span>{{ entreprise.entrepriseAssocies }}</span>
      </td>

      <td>
        <span>{{ entreprise.nom_gerant }}</span>
      </td>

      <td>
        <button (click)="editer(entreprise.id)" class="btn btn-warning">Editer</button>
        <button (click)="supprimer(entreprise.id)" class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row mb-2 col-auto">
    <button (click)="ajouter()" class="btn btn-success">AJOUTER</button>
  </div>
</div>

<hr />

<div class="container" *ngIf="formEntreprise">

  <h2>Ajouter / modifier une entreprise</h2>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Nom de l'entreprise</div>
    </div>

    <input type="text" class="form-control" [(ngModel)]="formEntreprise.nom_societe" placeholder="Nom de l'entreprise" />
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Id de l'adresse associée</div>
    </div>

    <input type="text" class="form-control" [(ngModel)]="formEntreprise.entrepriseAssocies" placeholder="Id de l'adresse associée" />
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Nom du Gérant</div>
    </div>

    <input type="number" class="form-control" [(ngModel)]="formEntreprise.nom_gerant" placeholder="Nom du Gérant" />
  </div>

  <div class="row mb-2 col-auto">
    <button (click)="sauvegarder()" class="btn btn-success" [disabled]="!formEntreprise.nom_societe || !formEntreprise.entrepriseAssocies || !formEntreprise.nom_gerant">
      <span *ngIf="!formEntreprise.id">AJOUTER</span>
      <span *ngIf="formEntreprise.id">MODIFIER</span>
    </button>
  </div>
</div>
